#header {
  padding: 21px 0;
  .header {
    svg {
      cursor: pointer;
    }
    &--menu {
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--nav {
      display: flex;
      align-items: center;
      gap: 10%;
      width: 65%;
      a {
        color: #a7b0c2;
        font-size: 16px;
        letter-spacing: 0.03em;
        font-weight: 700;
        transition: all 0.2s;
      }
      .active {
        color: black;
      }
    }
    &--btn {
      width: 150px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      span {
        background: #a7b0c2;
        height: 100%;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: white;
        border-radius: 3px;
      }
      button {
        background: #f0f0f0;
        height: 100%;
        padding: 0 15px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 3px;
        font-weight: 700;
        color: #191f5d;
      }
    }
  }
  .bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.301);
    position: absolute;
    top: 0;
    z-index: 2;
  }
}